:root {
    --bg-color: #393939;
    --board: #393939;
    --card-color: #565656;
    --matches-color: #404040;
    --flipped-card-color: #430707;
    --header-color: #000;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Paytone One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

heading {
    /* border: 1px solid #fff; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(
        180deg,
        var(--header-color) 0%,
        var(--bg-color) 100%
        );
    position: absolute;
    top: 0;
    padding: 2vmin;
}

.mini-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-size: 5vmin;
}

.subtitle {
    font-size: 1.5vmin;
    letter-spacing: .2vmin;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vmin;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vmin;
}

#message {
    visibility: hidden;
}

.board {
    background-color: var(--board);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1.5vmin;
    padding: .5vmin;
}

.board > div {
    width: 14vmin;
    height: 14vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    border-radius: 1vmin;
    background-color: var(--card-color);
}

.grow {
    transition: 200ms ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
    box-shadow: 0 0 .2vmin .2vmin rgba(255, 255, 255, 0.5);
}

.reveal-card {
    animation: fade-in 500ms;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hide-card {
    transition: var(--card-color) 500ms;
}

.match-board {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: .5vmin;
    width: auto;
    padding: 2vmin 0 2vmin 0;
}

.match-board > div {
    width: 6.7vmin;
    height: 6.7vmin;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmin;
    border-radius: .5vmin;
}

button {
    font-family: 'Paytone One', sans-serif;
    font-size: 1.5vmin;
    padding: 1.2vmin 1.5vmin;
    border-radius: 1vmin;
    border: none;
    box-shadow: 0 0 .1vmin .1vmin rgba(255, 255, 255, .5);
    background-color: #565656;
    color: var(--text-color);
}
button:hover{
    /* box-shadow: inset 0 0 .2vmin .2vmin rgba(255, 255, 255, 0.5); */
}