:root {
    --bg-color: #393939;
    --board: #393939;
    --card-color: #565656;
    --matches-color: #404040;
    --flipped-card-color: #fffaf6;
    --header-color: #000;
    --text-color: #fff;
    --button-text-color: #1b1b1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Paytone One', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(
        180deg,
        var(--header-color) 0%,
        var(--bg-color) 100%
        );
    position: absolute;
    top: 0;
    padding: 2vmin;
}

.heading-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.mini-flx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3vmin 0 3vmin;
}

.title {
    font-size: 5vmin;
}

.title-flx > a {
    text-decoration: none;
    color: var(--text-color);
}

.subtitle {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.7vmin;
    letter-spacing: .3vmin;
    padding-top: 1.5vmin;
}

.mini-flx > p {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5vmin;
    letter-spacing: .2vmin;
}

#turn-count,
#remaining-count {
    padding: 1vmin 0;
    font-family: 'Paytone One', sans-serif;
    font-size: 1.7vmin;
    letter-spacing: .3vmin;
}

#reset,
#play-again {
    cursor: pointer;
    outline: none;
    font-family: 'Paytone One', sans-serif;
    font-size: 1.4vmin;
    letter-spacing: .1vmin;
    height: 4vmin;
    width: 12vmin;
    border-radius: 1vmin;
    border: none;
    box-shadow: 0 0 .3vmin .2vmin rgba(255, 255, 255, .2);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vmin;
}

.center,
.right,
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12vmin;
}

.left {
    background-color: var(--matches-color);
    border-radius: 2vmin;
    width: 20vmin;
    height: auto;
    padding: 2vmin;
}

.left > h2 {
    padding-bottom: 1vmin;
}

.deck-btns > h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vmin;
    letter-spacing: .1vmin;
    color: var(--text-color);
}

.deck-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    font-family: 'Paytone One', sans-serif;
    font-size: 1.8vmin;
    letter-spacing: .1vmin;
    height: 4vmin;
    width: 15vmin;
    border-radius: .5vmin;
    border: none;
    margin-top: 1vmin;
    color: var(--button-text-color);
    box-shadow: .2vmin .2vmin .5vmin .4vmin rgba(0, 0, 0, .3);
    transition: 200ms ease-in-out;
}

.deck-btn:hover {
    transform: scale(1.2);
}

.active-deck {
    transform: scale(1.2);
    background-color: var(--flipped-card-color)!important;
}

#starter-btn {
    background-color: #a8dadc;
}
#numbers-btn {
    background-color: #e0fbfc;
}
#animals-btn {
    background-color: #fcd5ce;
}
#hobbies-btn {
    background-color: #fad2e1;
}
#school-btn {
    background-color: #fde2e4;
}
#travel-btn {
    background-color: #f9dcc4;
}
#adjectives-btn {
    background-color: #cbf3f0;
}
#emotions-btn {
    background-color: #fff1e6;
}
#create-deck {
    background-color: #b7efd0;
    margin-top: 4vmin;
    padding: 3vmin 0 3vmin 0;
}

.board {
    background-color: var(--board);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1.5vmin;
    padding: .5vmin;
}

.board > div {
    width: 14vmin;
    height: 14vmin;
    padding: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vmin;
    border-radius: 1vmin;
    background-color: var(--card-color);
    color: var(--button-text-color);
}

.grow {
    transition: 200ms ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
    box-shadow: 0 0 .2vmin .2vmin rgba(255, 255, 255, 0.5);
}

.reveal-card {
    animation: fade-in 500ms;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hide-card {
    transition: var(--card-color) 500ms;
}

.match-board {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: .5vmin;
    width: auto;
    padding: 2vmin 0 2vmin 0;
}

.match-board > div {
    width: 10vmin;
    height: 6.2vmin;
    padding: 1vmin;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.7vmin;
    font-weight: 600;
    border-radius: .5vmin;
    background-color: var(--matches-color);
    color: var(--button-text-color);
}



/* ---- Styles for cleared board modal ---- */

#cleared {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);  
    /* ^ 50% of container, make invisible by default */
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 1vmin;
    z-index: 10;
    background-color: white;
    color: black;
    width: 50vmin;
    max-width: 80%;
    padding: 2vmin;
}

#cleared.active {
    transform: translate(-50%, -50%) scale(1); 
    /* makes cleared message visible when active class is applied */
}

#close-btn {
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 4vmin;
    padding-right: 1vmin;
}

.cleared-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    padding: 5vmin;
}

.cleared-title {
    font-size: 5vmin;
    text-align: center;
}

.cleared-subtitle {
    font-family: 'Varela Round', sans-serif;
    font-size: 2.3vmin;
    line-height: 3.2vmin;
    text-align: center;
} 

#play-again {
    margin-top: 5vmin;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* ---- Styles for Study Mode toggle ---- */

.toggle-settings {
    padding-left: 2vmin;
}

.toggle-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5vmin;
    margin-bottom: -10%;
}

input[type="checkbox"].toggle {
    opacity: 0; /* make the checkbox invisible */
    /* position: absolute; makes it so checkbox takes up no space in the DOM */
    left: -90000px; /* remove checkbox from the page */
    top: -90000px
}

input[type="checkbox"].toggle + label {
    display: flex; /* needed to make label not an inline element so we can change size using em */
    align-items: center;
    position: relative;
}

input[type="checkbox"].toggle + label::before {
    content: '';
    width: 6.2vmin; /* use em to scale with size of text */
    height: 3.2vmin;
    background-color: var(--text-color);
    border-radius: 2vmin;
    margin-right: 1vmin;
    transition: background-color, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle + label::after {
    content: '';
    width: 2.9vmin; 
    height: 2.9vmin; /* makes a circle shape */
    background-color: var(--card-color);
    border-radius: 2vmin;
    margin-right: 1vmin;
    position: absolute; /* positions circle relative to label */
    left: .2vmin; /* positions circle slightly inset from edge of label */
    transition: background-color, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::after {
    background-color: var(--bg-color);
    transform: translateX(100%);
}

input:focus {
    border: 2px solid #83C5BE;
}

/* ---- Styles for study mode modal ---- */

.study {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* 50% of container, make invisible by default */
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 1vmin;
    z-index: 10;
    background-color: var(--matches-color);
    color: var(--text-color);
    width: 50vmin;
    max-width: 80%;
    padding: 2vmin;
}

.study.active {
    transform: translate(-50%, -50%) scale(1); /* makes message visible when active class is applied */
}

#study-close-btn {
    position: absolute;
    top: 2vmin;
    right: 2vmin;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 4vmin;
    padding-right: 1vmin;
}

.study-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    padding: 5vmin;
}

.study-title {
    font-size: 5vmin;
    padding-bottom: 1vmin;
}

.study-text {
    font-family: 'Varela Round', sans-serif;
    font-size: 3vmin;
    line-height: 4.7vmin;
    text-align: center;
} 

.study-text > ul {
    list-style: none;
}

#study-overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#study-overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* ---- Styles for create deck modal ---- */

#create-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);  
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 1vmin;
    z-index: 10;
    background-color: white;
    color: black;
    width: 50vmin;
    max-width: 80%;
    height: 70vmin;
    padding: 2vmin;
}

#create-modal.active {
    transform: translate(-50%, -50%) scale(1); 
}

#create-close-btn {
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 4vmin;
    padding-right: 1vmin;
}

.create-modal-text {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    gap: 2vmin;
    padding-top: 1vmin;
}

.create-modal-title {
    font-size: 5vmin;
    text-align: center;
}

.create-modal-subtitle {
    font-family: 'Varela Round', sans-serif;
    font-size: 2.3vmin;
    line-height: 3.2vmin;
    text-align: center;
} 

#create-overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#create-overlay.active {
    opacity: 1;
    pointer-events: all;
}

#create-deck-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4vmin;
}

.form-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input[type='text'] {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5vmin;
    padding: 1vmin;
    margin: 0 .7vmin 0 0;
    width: 15vmin;
    border-radius: 1vmin;
}

.add-card {
    cursor: pointer;
    outline: none;
    font-family: 'Paytone One', sans-serif;
    font-size: 1.4vmin;
    letter-spacing: .1vmin;
    height: 3.6vmin;
    width: 10vmin;
    margin-left: 1vmin;
    border-radius: 1vmin;
    border: none;
    box-shadow: 0 0 .3vmin .2vmin rgba(255, 255, 255, .2);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 42vmin;
    gap: .5vmin;
    margin-top: 3vmin;
    margin-bottom: 2vmin;
} 

.list-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .5vmin;
}

.list-block {
    background-color: #ebeae8;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5vmin;
    width: 15vmin;   
    height: 3vmin;
    border-radius: 1vmin;
}

.remove-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: var(--card-color);
    font-size: 2vmin;
    padding-right: 1vmin;
}